@model FarmaciaSolidariaCristiana.Models.Medicine
@{
    ViewData["Title"] = "Detalles del Medicamento";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-info text-white">
            <h4 class="mb-0">@ViewData["Title"]</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
                
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
                
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.StockQuantity)</dt>
                <dd class="col-sm-9">
                    <span class="badge @(Model.StockQuantity > 10 ? "bg-success" : Model.StockQuantity > 0 ? "bg-warning" : "bg-danger")">
                        @Html.DisplayFor(model => model.StockQuantity)
                    </span>
                </dd>
                
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Unit)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Unit)</dd>
                
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.NationalCode)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.NationalCode)</dd>
            </dl>
            
            <div class="mt-4">
                @if (User.IsInRole("Farmaceutico"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Eliminar</a>
                }
                <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
            </div>
        </div>
    </div>
</div>
